body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(232, 211, 160);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(221, 191, 126);
  display: grid;
  gap: 10px;
  grid-template-columns: 30rem 25rem;
  grid-template-rows: 40rem 5rem;
  border: 0px solid;
  border-radius: 10px;
}
.friendlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendcard {
  display: grid;
  width: 98%;
  height: 60px;
  grid-template-columns: 80% 1fr;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid brown;
  border-radius: 5px;
  background-color: rgb(233, 210, 166);
  margin-bottom: 3px;
}

.addfriend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectbtn {
  height: 30px;
  width: 70px;
  border-radius: 2px;
}

.selectbtn.notselected {
  border: 4px solid rgb(195, 142, 89);
  background-color: rgb(215, 163, 90);
  border-bottom: 4px solid rgb(155, 117, 55);
}
.selectbtn.selected {
  border: 4px solid rgb(153, 110, 67);
  background-color: rgb(180, 135, 73);
  border-bottom: 4px solid rgb(118, 87, 38);
}

.addfriend button {
  height: 40px;
  width: 170px;
  border-radius: 2px;
  border: 4px solid rgb(195, 142, 89);
  background-color: rgb(215, 163, 90);
  border-bottom: 4px solid rgb(155, 117, 55);
  margin-top: 10px;
}
.addfriend button:active {
  border: 4px solid rgb(161, 114, 67);
  background-color: rgb(207, 150, 70);
  border-bottom: 4px solid rgb(102, 77, 37);
}

.addfriendselection {
  width: 100%;
  margin-top: 5px;
  background-color: green;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addfriendform {
  background-color: antiquewhite;
  border: 0px solid;
  border-radius: 4px;
  height: 30px;
  width: 200px;
  padding-left: 10px;
  border-bottom: 2px solid rgb(165, 116, 42);
}

.addfriendform::placeholder {
  color: rgb(157, 122, 77);
}

.addfriendselection button {
  height: 30px;
  width: 70px;
  border-radius: 2px;
  border: 4px solid rgb(195, 142, 89);
  background-color: rgb(215, 163, 90);
  border-bottom: 4px solid rgb(155, 117, 55);
  margin-left: 10px;
}

.addfriendselection button:active {
  border: 4px solid rgb(161, 114, 67);
  background-color: rgb(207, 150, 70);
  border-bottom: 4px solid rgb(102, 77, 37);
}
