body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(232, 211, 160);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(221, 191, 126);
  display: grid;
  gap: 10px;
  grid-template-columns: 30rem 25rem;
  grid-template-rows: 45rem;
  border: 0px solid;
  border-radius: 10px;
}
.friendlist {
  width: 100%;
  min-height: 50px;
  background-color: rgb(237, 227, 209);
}
